<section>

  <h3>ДАВАЙТЕ СОТРУДНИЧАТЬ</h3>

<form method="POST" action="//formspree.io/{{ site.data.settings.email }}">

  <fieldset class="contact-info-group">

    <label><span>ваше имя</span>
    <input type="text" name="name"></label>

    <label><span>ваша электронная почта</span>
    <input type="email" name="_replyto"></label>

  </fieldset>

  <label><span>расскажите о вашем проекте</span>
  <textarea name="message"></textarea></label>

  <fieldset class="submit-wrap">
    <input type="submit" value="ОТПРАВИТЬ">
  </fieldset>

</form>

</section>
